h1 {
    color: grey;
}
.users-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.content {
    padding: 15px;
  }
  .image {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  .card {
    flex: 1 0 21%;
    max-width: 260px;
    text-align: center;
    //box-shadow: 2px 2px 2px 2px outset #888888;
    //border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1%;
    margin: 15px;
    text-transform:capitalize;
    line-height: 1.6;
  }
  .content {
    font-family: lucida;
    color: grey;
    font-weight: bold;
  }
  .input-bank  {
        font-family: "Raleway";
        color: #666;
        float: none;
        display: block;
        text-align: center;
        //width: 20%;
        margin: 0;
        padding: 14px;
        .form-control {
            border-radius: 50%;
            height: 30px;
        }
  }