h1 {
    color: grey;
}
.users-container {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    // flex-flow: row wrap;
}
.content {
    padding: 15px;
  }
  .image {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  .card {
    display: inline-block;
    margin: 0 1em;
    flex-grow: 1;
    width: calc(25% - 2em);
  }
  .content {
    font-family: lucida;
    color: grey;
    font-weight: bold;
  }
  .input-bank  {
        font-family: "Raleway";
        color: #666;
        float: none;
        display: block;
        text-align: center;
        //width: 20%;
        margin: 0;
        padding: 20px;
        .form-control {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
            height: 30px;
            //text-align: center;
            margin-bottom: 30px;
        }
  }