h1 {
    color: red;
    border: solid red 3px;
}
.users-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.content {
    padding: 15px;
  }
  .image {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  .card {
    flex: 1 0 21%;
    max-width: 260px;
    text-align: center;
    //box-shadow: 2px 2px 2px 2px outset #888888;
    //border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1%;
    margin: 15px;
  }